APP_NAME=Lead-Tracker-FE
APP_ENV=local
APP_KEY=base64:ljq36Zidujr7djGMMDdLn2iOxzrU+F7a2RR7vJHTjgA=
APP_DEBUG=true
APP_URL=http://localhost:8000
API_BASE_URL=http://127.0.0.1:8001/api
API_KEY=your_api_key_here

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null
